[submodule "M5StickCPlus2"]
	path = M5StickCPlus2
	url = https://github.com/VolosR/M5StickCPlus2
[submodule "M5StickCPlus2-UserDemo"]
	path = M5StickCPlus2-UserDemo
	url = https://github.com/m5stack/M5StickCPlus2-UserDemo
[submodule "M5Cardputer-UserDemo"]
	path = M5Cardputer-UserDemo
	url = https://github.com/m5stack/M5Cardputer-UserDemo.git
[submodule "M5CardRemote"]
	path = M5CardRemote
	url = https://github.com/VolosR/M5CardRemote/
[submodule "Cardputer"]
	path = Cardputer
	url = git@github.com:VolosR/Cardputer.git
[submodule "gb_cardputer"]
	path = gb_cardputer
	url = git@github.com:matthew-5pl/gb_cardputer.git
[submodule "evilClock"]
	path = evilClock
	url = git@github.com:VolosR/evilClock.git
[submodule "M5Stick-Launcher"]
	path = M5Stick-Launcher
	url = https://github.com/bmorcelli/M5Stick-Launcher
