[submodule "M5StickCPlus2"]
	path = M5StickCPlus2
	url = https://github.com/VolosR/M5StickCPlus2
[submodule "M5StickCPlus2-UserDemo"]
	path = M5StickCPlus2-UserDemo
	url = https://github.com/m5stack/M5StickCPlus2-UserDemo
[submodule "M5Cardputer-UserDemo"]
	path = M5Cardputer-UserDemo
	url = https://github.com/m5stack/M5Cardputer-UserDemo
[submodule "M5CardRemote"]
	path = M5CardRemote
	url = https://github.com/VolosR/M5CardRemote
[submodule "Cardputer"]
	path = Cardputer
	url = https://github.com/VolosR/Cardputer
[submodule "gb_cardputer"]
	path = gb_cardputer
	url = https://github.com/matthew-5pl/gb_cardputer
[submodule "evilClock"]
	path = evilClock
	url = https://github.com/VolosR/evilClock
[submodule "M5Stick-Launcher"]
	path = M5Stick-Launcher
	url = https://github.com/bmorcelli/M5Stick-Launcher
[submodule "Evil-M5Core2"]
	path = Evil-M5Core2
	url = https://github.com/7h30th3r0n3/Evil-M5Core2
